.embed-responsive .card-img-top {
  object-fit: cover;
}

h1 {
  text-align: center;
}

#coords,
#resultsNum {
  text-align: center;
}

.addr {
  text-transform: capitalize;
}

.hovernow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.hovernow:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  position: relative;
  z-index: 1;
}

.maplinks {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  left: 5px;
}

.otherLinks {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  right: 5px;
}

.listing {
  padding: 5px;
}

.streetview {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
}

.zoom {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}